@import "tailwindcss";
body {
  background: radial-gradient(circle at left, #0b1a2a, #000);
  color: white;
  overflow-x: hidden;
}

/* Glow */
.glow {
  box-shadow: 0 0 80px rgba(0, 150, 255, 0.5);
}

/* Cursor */
.cursor {
  width: 18px;
  height: 18px;
  border: 2px solid #00aaff;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}
